/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* Reset CSS */
*{margin:0; padding:0; box-sizing:border-box;}
body{font-size:14px; font-family: 'Nanum Gothic'; color:rgb(224, 228, 228);}
ol, ul{list-style:none;}
a{text-decoration: none;}
img{display:block;}
button, input, textarea{outline:0; font-family:'Nanum Gothic';-webkit-appearance: none;}
input[type="checkbox"]{-webkit-appearance: auto; border-radius:0; border:1px solid #fff;}
input::placeholder, textarea::placeholder{color:#555;}

/* Common Style CSS*/
.center{width:100%; height:auto; max-width:520px; margin:auto;} 
.border-left{border-left:1px solid #fff;}
.border-right{border-right:1px solid #fff;}
.border-bottom{border-bottom:1px solid #fff;}
.border-top{border-top:1px solid #fff;}
.border-side{border-left:1px solid #fff; border-right:1px solid #fff;}

html {width: 100%; height: 99.99%; overflow: hidden;}
.wrapper {width: 100%; height: 100vh; overflow: hidden; background: rgb(45, 54, 133);}
/* Header Style */
header{width:100%; height:auto; padding:0 .5rem;}
header .center{display:flex; justify-content: space-between; padding:1rem .75rem; align-items: center;}
header .logo a{color:rgb(224, 228, 228); font-weight:bold; font-size:1.1rem;}
header .back a{font-size:1rem; color:rgb(224, 228, 228);}
header .hamburger a {font-size: 1rem; color: rgb(224, 228, 228);}


/* Slogan Section Style */
section{padding:0 0.5rem;}
section.slogan-sec .center{padding:6rem .75rem;}
section.slogan-sec .main-slogan{display:flex; flex-direction: column; align-items: center; padding:2rem 0; row-gap:1.5rem;}
section.slogan-sec .icon{border:1px solid rgb(224, 228, 228); border-radius: 50%; padding:2rem;}
section.slogan-sec .icon i{font-size:4rem;}
section.slogan-sec .main-slogan h3 {font-size: 1.5rem; line-height: 2rem; font-family: 'Nanum Gothic';}

/* Bar Section Style */
section.bar-sec{height:100vh;}
section.bar-sec .center{padding:2rem; height:100%;}
section.bar-sec .search-bar{display:flex; justify-content: center; width:100%; border:1px solid rgb(224, 228, 228); border-radius:.25rem;}
section.bar-sec .search-bar input{width:80%; background:#fff; padding:.75rem; border:0; color:#fff;}
section.bar-sec .search-bar button{width:20%; border:none; display:flex; align-items: center; justify-content: center;}
section.bar-sec .search-bar button i{font-size:1.25rem;}
section.bar-sec .near-btns{width:100%;height:auto; margin-top:.5rem;}
section.bar-sec .near-btns button{width:100%; border:none; padding:.75rem; border-radius:.25rem;}
section.bar-sec .near-btns em{font-style:normal;}

/* Footer Style */
/* footer{position:fixed; bottom:0; left:0; padding:0 0.5rem; width:100%; z-index: 10; background: rgb(34, 36, 41);}
footer .center{text-align:center; padding:1rem;} */

/* Map Section Style */
#map{width: 100%; height: 100vh;}
.marker-info {color: white; border: 0; font-size: 12px; text-align: center; width: 100%; font-family: 'Noto Sans KR'; padding-top: .25rem;}
.map-sec .location {width: 100%; height: auto; padding: .5rem; text-align: center; background: rgb(120, 125, 119);}

/* Map Lists Style */
.map-lists{position:fixed; width:100%; height:auto; z-index: 10;}
.map-lists .lists .list-up-down{width:100%; height:auto; background:rgb(224, 228, 228); color:rgb(34, 36, 41); font-size:1.1rem; text-align:center; padding:.25rem 0;}
.item-list{display:none;}
.map-lists .lists .list-up-down.active + .item-list{display:block;}
.map-lists .item-list{padding:.25rem; max-height:350px; overflow-y:scroll; overflow-x:hidden; background: rgb(34, 36, 41);}
.map-lists .item-list .item{_padding:.25rem; margin-bottom:.25rem; margin-top:.5rem;}
.map-lists .item-list .item:first-child{margin-top:0;}
.map-lists .item-list .item .stats{display:flex; flex-wrap: wrap; gap:.25rem; justify-content: space-between;}


.map-lists .item-list .item .stats span{width:calc(50% - .125rem); text-align:center;  background:rgb(224, 228, 228); color:rgb(34, 36, 41); padding:.25rem 0;}
.map-lists .item-list .item .stats span:nth-child(4){display:flex; align-items: center; justify-content: center;}
.map-lists .item-list p{width:100%; height:auto; padding:.25rem; background:rgb(224, 228, 228); color:rgb(34, 36, 41); text-align:center; margin-bottom:.25rem;}

.item-list button {border: none; width: 100%; text-align: center; padding: .5rem 0;}
